{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('coffee.static', filename='css/coffee_profile.css') }}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="nav-adjuster"></div>
    <div class="coffee-bag-pic">
        <img src="{{url_for('coffee.static', filename='img/bag.jpg') }}" alt="">
    </div>
    <div class="roaster-info">
        <h1 class="coffee-title">{{ coffee.roaster}} {{ coffee.bag_name }}</h1>
        <div class="divider"></div>
        <p>A blurb about the roaster belongs here</p>
    </div>
    {% include 'coffee_info.html' %}
    <div class="more-like-this">
        <h2>More like this:</h2>
        <div class="roaster">
            <a href="{{ url_for('coffee.by_roaster', roaster_name=more_from_roaster) }}" class="roaster-offerings"> More from {{ coffee.roaster }}</a>
        </div>
        <div class="flavor">
            Discover by flavor:
            {% if more_by_flavor != None%}
            <ul>
                {% for flavor in more_by_flavor %}
                <li class="by-flavor-link">
                    <a href="{{ url_for('coffee.by_flavor', flavor=flavor[1]) }}">{{ flavor[1] }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="acidity">
            Similar acidity:
        </div>
    </div>
    <div class="user-reviews">
        {% if flavors %}
            <div class="flavors">
                <h2>Tastes like:</h2>
                {{ flavors }}
            </div>
        {% endif %}
        {% if tasting_notes %}
            <div class="tasting-notes">
                <h2>My tasting notes:</h2>
                {{ tasting_notes }}
            </div>
        {% endif %}

        {% if tasting_notes == None and flavors == None %}
            <div class="reviews">
                <h1>A selection of recent user reviews will go here</h1>
            </div>
        {% endif %}
    </div>
</div>
{% if entry_id %}
<div class="delete-container">
    <a href="{{ url_for('coffee.delete_coffee', entry_id = entry_id) }}">
        <button class="delete-button">
            Delete Coffee
        </button>
    </a>
</div>
{% endif %}

{% endblock %}