@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    /* color scheme possibilities 
    rules: primary darker than secondary*/
    /*
    --nav-color : #873512;
    --primary-color : #8c491d;
    --secondary-color: #cc944d ;
    --accent-color1: #586f56;
    --accent-color2: #bd8587; /**/
/*
    --nav-color : #cc944d;
    --primary-color : #586f56;
    --secondary-color: #bd8587 ;
    --accent-color1: #8c491d;
    --accent-color2: #bd8587; /**/

    
    --nav-color : #873512; 
    --primary-color : #873512f3;
    --secondary-color: #b7641bf3 ;
    --accent-color1: #fcf2de;
    --accent-color2: #51a56c; /**/

    --font-body: Josefin Sans;
    --font-emphasis: Protest Strike;
    --font-fancy: Lobster;
    --font-ticker: Sixtyfour;
    --font-handwritten: Permanent Marker;

    --form-field-height: 1.5em;
    --form-field-width: 600px;
}

*{
    /*border: 3px solid red;*/
    font-family: var(--font-body);
}

body{
    background-image: url('../img/trap-tile.jpg');
    background-attachment: fixed;
    background-size: 100vw;
    background-repeat: repeat-y;
}