{% block nav%}
<nav class="navbar">
        <h1><a href="{{ url_for('site.home') }}" class="nav-item">Bean Counter</a></h1>
    <ul class="navlist-container">
        <li class="navlist">
            <a href="{{ url_for('coffee.all_coffees') }}" class="nav-item">Explore</a>
        </li>
        {% if not current_user.is_authenticated %}
            <li class="navlist">
                <a href="{{ url_for('authorization.signup') }}" class="nav-item">Sign Up</a>
            </li>
            <li class="navlist">
                <a href="{{ url_for('authorization.signin') }}" class="nav-item">Sign In</a>
            </li>
        {% else %}
            <li class="navlist">
                <a href="{{ url_for('coffee.add_coffee') }}" class="nav-item">+Coffee</a>
            </li>
            <li class="navlist">
                <a href="{{ url_for('profile.user_profile', user_id=current_user.get_id()) }}" class="nav-item">Profile</a>
            </li>
            <li class="navlist">
                <a href="{{ url_for('profile.portfolio', user_id=current_user.get_id()) }}" class="nav-item">Portfolio</a>
            </li>
            <li class="navlist">
                <a href="{{ url_for('authorization.logout') }}" class="nav-item">Logout</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}