/*{
    border: 2px solid red;
}/**/

/* revisit this css. The sign in card objects resize awkwardly
at different rates. Might need to wrap the whole thing in one
more div*/



.grid-container{
    display:grid;
    grid-template-areas: 
    "nav-buffer"
    "signin-object";
    justify-items: center;
}

.nav-buffer{
    grid-area: nav-buffer;
    height: 75px;
}

.signin-bg{
    grid-area: signin-object;
    z-index: -2;
    border-radius: 10px;

    margin-top: 10vh;
    height: 60vh;
    min-height: 400px;
    max-height: 500px;
    width: 30vw;
    min-width: 375px;
    border-radius: 10px;
    object-fit: cover;
}

.signin-alpha{
    grid-area: signin-object;
    width: 100%;
    z-index: -1;
    background-color: rgba(237, 143, 21, 0.101);
    border-radius: 10px;

    margin-top: 10vh;
    height: 60vh;
    min-height: 400px;
    max-height: 500px;
    width: 30vw;
    min-width: 375px;
    border-radius: 10px;
}

.signin-object{
    background-image: url('../img/beans2.png');
    background-size: cover;
    display:grid;
    grid-area: signin-object;
    grid-template-areas: 
    "title"
    "signin"
    "signup-link";
    grid-template-rows: 1fr 3fr 1fr;

    justify-items: center;
    
    margin-top: 10vh;
    height: 60vh;
    min-height: 400px;
    max-height: 500px;
    width: 30vw;
    min-width: 375px;
    border-radius: 10px;

    background-color: #b7641b44;
    color: var(--accent-color1);
    /* box-shadow: 0px 0px 50px 10px #eee9e1 inset, 0px 0px 200px 5px #f2e7d1; */

}
    

.card-title{
    grid-area: title;
    padding-top: 15px;
}

.form-container{
    display: grid;
    grid-area: signin;
    justify-items: center;

    background-color: var(--accent-color2);
    padding-top:  20px;
    height: 245px;
    width: 60%;
    border-radius: 5px;

    .form-field{
        border: none;
    }
}

label{
    color: var(--accent-color1);
}

.input-field{
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    height: var(--form-field-height);
}

.submit-button{
    display: grid;
    justify-items: center;
}

#submit_button{
    width: 90%;
    background-color: var(--primary-color);
    border: none;
    border-radius: 3px;
    height: 25px;
    color: var(--accent-color1);
    margin-top: 1em;
    justify-items: center;
}

.login-prompt{
    grid-area: signup-link;
}