{% extends 'base.html' %} 

{% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('authorization.static', filename='css/signin.css')}}"
/>
{% endblock %} 

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="grid-container">
  <div class="nav-buffer"></div>
  <img src="{{ url_for('authorization.static', filename='img/beans2.png')}}" alt="latte art" class="signin-bg">
  <div class="signin-alpha"></div>
  <div class="signin-object">
    <div class="card-title">
      <h1>Sign In</h1>
    </div>
    <div class="form-container">
      <form action="{{ url_for('authorization.signin') }}" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="email-field form-field">
          {{ form.email.label }} <br>
          {{ form.email(class_="input-field") }} 
          {% if form.email.errors %}
          <ul class="errors">
            {% for error in form.email.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </fieldset>

        <fieldset class="password-field form-field">
          {{ form.password.label }} <br>
          {{ form.password(class_="input-field") }} 
          {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </fieldset>

        <div class="submit-button">{{ form.submit_button }}</div>
      </form>
    </div>
      <div class="login-prompt">
        <span class="login-prompt">Not a member yet?</span>
        <a href="{{ url_for('authorization.signup') }}" class="login-link login-prompt">
          Sign up.
        </a>
      </div>
    
  </div>
</div>
{% endblock %}
